.textarea-container {
    margin-top: 4%;
    height: 90px;
}

input:invalid {
    border:none;
    outline: none;
}

textarea:invalid {
    border:none;
    outline: none;
}

textarea:required:invalid {
    border:none;
    outline: none;
}

.textarea {
    resize: none;
    outline: none;
    background: none;
    height: 80px;
    width: 100%;
    border: none;
    font-size: 12px;
    color: currentColor;
    font: inherit;
}

.textarea-label {
    /*border-color: #d2d2d2;*/
    margin-right: 20px;
}

.textarea-border {
  /*border-bottom: solid 1px #d2d2d2;*/
  transition: border-width 250ms ease-in-out;
}

.textarea-border:after {
  outline: none;
  display:block;
  content: '';
  border: solid 1px #9c27b0;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.textarea ~ .textarea-label span {
    position: relative;
    font-size: inherit;
    transition: font-size 250ms, transform 250ms;
    -webkit-transition: font-size 250ms, transform 250ms;
    -moz-transition: font-size 250ms, transform 250ms;
    -o-transition: font-size 250ms, transform 250ms;
}

.textarea:focus + .textarea-border { 
    border-width: 0px;
}

.textarea:focus + .textarea-border:after { 
    transform: scaleX(1); 
}

.textarea ~ .textarea-label {
    position: relative;
    top: -85px;
    transition: top 250ms;
    -webkit-transition: top 250ms;
    -moz-transition: top 250ms;
    -o-transition: top 250ms;
}

.textarea:focus ~ .textarea-label {
    position: relative;
    top: -110px;
}

.textarea:focus ~ .textarea-label span {
    font-size: 11px;
}

.textarea:valid ~ .textarea-label span {
    font-size: 11px;
}

.textarea:valid ~ .textarea-label {
    top: -132px;
}

@keyframes moving {
    from {top: 0px;}
    to {top: -100px;}
}

@-webkit-keyframes moving {
    from {top: 0px;}
    to {top: -100px;}
}